<link rel="apple-touch-icon" sizes="180x180" href="{{ siteUrl }}assets/img/favicon/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="{{ siteUrl }}assets/img/favicon/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="{{ siteUrl }}assets/img/favicon/favicon-16x16.png">
<link rel="manifest" href="{{ siteUrl }}assets/img/favicon/manifest.json">
<link rel="mask-icon" href="{{ siteUrl }}assets/img/favicon/pinned-icon.svg" color="#6DAA87">
<meta name="msapplication-TileColor" content="#da532c">
<meta name="theme-color" content="#77A88C">
