.sass-cache/
*.css.map
.DS_Store
/craft/config/general.php
/craft/config/db.php
/public/.htaccess
/public/node_modules
package-lock.json
/html/assets/img/uploads
/html/assets/file/uploads
/html/cpresources/
/.htaccess
/html/assets/img/uploads/global/_gallery/DSF2668.jpg
/html/assets/img/uploads/global/_gallery/FACEBOOK.png
html/cpresources/*
