/*
Error: Invalid CSS after "...ort 'home.scss'": expected "{", was ";"
        on line 14 of assets/sass/style.scss

9: <<<<<<< Updated upstream
10: <<<<<<< Updated upstream
11: <<<<<<< Updated upstream
12: <<<<<<< Updated upstream
13: <<<<<<< Updated upstream
14: @import 'home.scss';
15: @import 'forms.scss';
16: @import 'photopage.scss';
17: @import 'profile1.scss';
18: @import 'secondary.scss';
19: @import 'banner.scss';

Backtrace:
assets/sass/style.scss:14
/Library/Ruby/Gems/2.3.0/gems/sass-3.5.5/lib/sass/scss/parser.rb:1278:in `expected'
/Library/Ruby/Gems/2.3.0/gems/sass-3.5.5/lib/sass/scss/parser.rb:1208:in `expected'
/Library/Ruby/Gems/2.3.0/gems/sass-3.5.5/lib/sass/scss/parser.rb:1203:in `tok!'
/Library/Ruby/Gems/2.3.0/gems/sass-3.5.5/lib/sass/scss/parser.rb:677:in `block'
/Library/Ruby/Gems/2.3.0/gems/sass-3.5.5/lib/sass/scss/parser.rb:670:in `ruleset'
/Library/Ruby/Gems/2.3.0/gems/sass-3.5.5/lib/sass/scss/parser.rb:696:in `block_child'
/Library/Ruby/Gems/2.3.0/gems/sass-3.5.5/lib/sass/scss/parser.rb:689:in `block_contents'
/Library/Ruby/Gems/2.3.0/gems/sass-3.5.5/lib/sass/scss/parser.rb:137:in `stylesheet'
/Library/Ruby/Gems/2.3.0/gems/sass-3.5.5/lib/sass/scss/parser.rb:41:in `parse'
/Library/Ruby/Gems/2.3.0/gems/sass-3.5.5/lib/sass/engine.rb:414:in `_to_tree'
/Library/Ruby/Gems/2.3.0/gems/sass-3.5.5/lib/sass/engine.rb:389:in `_render_with_sourcemap'
/Library/Ruby/Gems/2.3.0/gems/sass-3.5.5/lib/sass/engine.rb:307:in `render_with_sourcemap'
/Library/Ruby/Gems/2.3.0/gems/sass-3.5.5/lib/sass/exec/sass_scss.rb:391:in `run'
/Library/Ruby/Gems/2.3.0/gems/sass-3.5.5/lib/sass/exec/sass_scss.rb:63:in `process_result'
/Library/Ruby/Gems/2.3.0/gems/sass-3.5.5/lib/sass/exec/base.rb:52:in `parse'
/Library/Ruby/Gems/2.3.0/gems/sass-3.5.5/lib/sass/exec/base.rb:19:in `parse!'
/Library/Ruby/Gems/2.3.0/gems/sass-3.5.5/bin/sass:13:in `<top (required)>'
/usr/local/bin/sass:22:in `load'
/usr/local/bin/sass:22:in `<main>'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Error: Invalid CSS after \"...ort 'home.scss'\": expected \"{\", was \";\"\A         on line 14 of assets/sass/style.scss\A \A 9: <<<<<<< Updated upstream\A 10: <<<<<<< Updated upstream\A 11: <<<<<<< Updated upstream\A 12: <<<<<<< Updated upstream\A 13: <<<<<<< Updated upstream\A 14: @import 'home.scss';\A 15: @import 'forms.scss';\A 16: @import 'photopage.scss';\A 17: @import 'profile1.scss';\A 18: @import 'secondary.scss';\A 19: @import 'banner.scss';"; }
