{% extends '_layout' %}
{% block subheader %}
  {% include 'globals/banner.html' %}
{% endblock %}

{% block content %}
  {% cache %}

    {% include 'globals/featureItem.html' %}

    {% set entries = craft.entries.section('exhibits').all() %}
    {% set count = 0 %}
    {% for exhibit in entries %}
      {% if exhibit.exhibitStatus == 'specialExhibit' and exhibit.endDate > now %}
        {% for item in entry.mainFeaturedItem %}
          {% if item.id != exhibit.id and count != 1 %}
          {% set count = count+1 %}
          <h2>Upcoming Exhibits</h2>
          {% endif %}
        {% endfor %}
      {% endif %}
    {% endfor %}

    <div class="feature-links">
      {% for exhibit in entries %}
        {% if exhibit.exhibitStatus == 'specialExhibit' and exhibit.endDate > now %}
          {% for item in entry.mainFeaturedItem %}
            {% if item.id != exhibit.id %}
            <div class="feature">
              <h3><a href="{{exhibit.url}}">{{ exhibit.title }}</a></h3>
                {% if exhibit.startDate | length %}
                  {{ exhibit.startDate  | date('M j, Y')}}
                {% endif %}

                {% include 'globals/teaserText.html' %}

                {% if exhibit.location | length %}
                  <p>{{ exhibit.location }}</p>
                {% endif %}

            </div>
            {% endif %}
          {% endfor %}
        {% endif %}
      {% endfor %}
    </div>

    <h2>Ongoing Exhibits</h2>
    <div class="feature-links">
      {% for entry in entries %}
        {% if entry.exhibitStatus == 'ongoingExhibit' %}
          {% include 'globals/noImageListing.html' %}
        {% endif %}
      {% endfor %}
    </div>

    {% include "globals/relatedLinks.html" %}

  {% endcache %}
{% endblock %}
