{% extends '_layout' %}
{% block subheader %}
  {% include 'globals/banner.html' %}
{% endblock %}

{% block content %}
  {% cache %}

    <h2>Upcoming Exhibits</h2>
    {% set entries = craft.entries.section('exhibits').all() %}
    <div class="feature-links">
      {% for entry in entries %}
        {% if entry.exhibitStatus == 'specialExhibit' and entry.endDate > now %}
          {% include 'globals/noImageListing.html' %}
        {% endif %}
      {% endfor %}
    </div>

    <h2>Ongoing Exhibits</h2>
    <div class="feature-links">
      {% for entry in entries %}
        {% if entry.exhibitStatus == 'ongoingExhibit' %}
          {% include 'globals/noImageListing.html' %}
        {% endif %}
      {% endfor %}
    </div>

    {% include "globals/relatedLinks.html" %}

  {% endcache %}
{% endblock %}
