.banner-img {
  width: 100%;
}

.banner-h1 span {
  font-family: $serif;
  font-weight: 900;
  color: $green;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.top-banner {
  opacity: 0;
  position: relative;
  overflow: hidden;
  animation: fadeIn .5s ease-in;
  animation-fill-mode: forwards;
  margin: .25em;
  overflow: hidden;
  img {
    width: 100%;
    filter: grayscale(20%);
  }
  @media screen and (min-width: 1200px) {
    min-height: 305px;
    max-height: 550px;
  }
}

.banner {
  background-repeat: no-repeat;
  background-color: white;
  left: 0;
  width: 100%;
  padding: 1.5em 1.25rem 1.75em 1.25em;
  background-size: auto;
  background-position: top right;
  text-align: left;
  z-index: 200;
  bottom: 0;
  @media screen and (min-width: 550px) {
    background-color: transparent;
    border: none;
    padding: 1.75em 1em;
    max-width: inherit;
    width: inherit;
    padding-right: 100px;
    bottom: 50px;
  }
  @media screen and (min-width: 600px) {
    background-image: url('/assets/img/ui/banner-background.svg');
    position: absolute;
    padding-left: 3em;
    bottom: 90px;
  }
}

.banner-h1 {
  font-family: $serif;
  font-size: 2em;
  margin-bottom: 0;
  padding-bottom: 0;
  margin-top: 0;
  line-height: 1.1;
}

.banner-h2 {
  font-family: $sans;
  font-size: 1em;
  font-weight: 400;
  text-align: left;
  margin-top: 0;
  padding-top: .35em;
  margin-bottom: 0;
  color: $blue;
}

@media screen and (min-width: 450px) {

  .banner-h1 {
    font-size: 2.2em;
  }

  .banner-h2 {
    font-family: $sans;
    font-size: 1em;
  }

}

@media screen and (min-width: 600px) {

  .banner-h1 {
    font-size: 2.4em;
  }

  .banner-h2 {
    font-size: 1.1em;
  }
}

.supplemental {
  margin: .25em;
  @media screen and (min-width: 600px) {
    display: flex;
    z-index: 3;
    position: relative;
    margin-top: -51px;
  }
}


.small-banner {
  margin: 0;
  background-color: $blue;
  background-image: url('../img/ui/railroad-tracks.svg');
  background-position: top right;
  background-repeat: no-repeat;
  padding: 2em 1.5em;
  text-align: left;
  @media screen and (min-width: 800px) {
    background-position: right 20% top 0;
  }
  .breadcrumbs {
    color: white;
    margin: 0;
    padding: 0;
    a {
      color: $yellow;
    }
    position: relative;
  }
}

.small-banner__container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 1.25em;
}

.small-banner__section {
  color: white;
  text-transform: uppercase;
  margin: 0;
  padding: 0;
  text-align: left;
  font-size: 1.15em;
  letter-spacing: .75px;
  margin-bottom: .25em;
}

.small-banner__title {
  color: white;
  font-size: 1.75em;
  font-family: $sans;
  font-weight: bold;
  margin-bottom: .55em;
  @media screen and (min-width: 800px) {
    font-size: 2.25em;
  }
  span {
    color: $yellow;
  }
}
