* {
  box-sizing: border-box;
}

body {
  font-family: $sans;
  text-align: center;
}

main {
  max-width: 1200px;
  margin: 0 auto;
  padding: 1.5em;
  padding-top: 2.5em;
  @media screen and (min-width: 600px) {
    padding-top: 1.5em;
  }
}
