.cards {
  margin-top: 2em;
  @media screen and (min-width: 700px) {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 5%;
  }
  @media screen and (min-width: 1000px) {
    margin-top: 4.5em;
  }
}

.card {
  display: flex;
  flex-wrap: wrap;
  background-color: $green;
  color: white;
  margin: 0;
  margin-bottom: .75em;
  padding: 0;
  position: relative;
  @media screen and (min-width: 700px) {
    margin-bottom: 0;
    min-height: 100px;
  }
  @media screen and (min-width: 1000px) {
    display: block;
    background-color: inherit;
    margin-bottom: 25%;
  }
}

.card__image {
  width: 35%;
  background-size: cover;
  border-right: $darkgreen 4px solid;
  @media screen and (min-width: 1000px) {
    min-height: 200px;
    width: 100%;
    border-right: none;
    border-bottom: $darkgreen 5px solid;
    transition: transform .3s ease-in-out;
    z-index: 100;
    position: relative;
    box-shadow: 1px 1px 10px rgba(0,0,0,.1);
    &:after {
      content: "";
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
      opacity: 0;
      background: white;
      //background: linear-gradient(to bottom, rgba(255,255,255,1) 10%, rgba(255,255,255,0) 100%);
      position: absolute;
      z-index: 100;
      transition: .3s opacity ease-in-out;
    }
  }
}

.active .card__image {
  @media screen and (min-width: 1000px) {
    transform: translateY(-30%);
    &:after {
     opacity: .2;
    }
  }
}

.card__title {
  text-align: left;
  font-size: .9em;
  display: block;
  text-transform: uppercase;
  letter-spacing: .05em;
  a {
    color: white;
  }
  @media screen and (min-width: 700px) {
    display: flex;
    align-items: center;
    height: 100%;
    margin: 0;
  }
  @media screen and (min-width: 1000px) {
    margin-top: 0;
    padding: 0;
    width: 100%;
    text-align: left;
    margin-bottom: 0;
    position: absolute;
    bottom: 13px;
    padding-top: .25em;
    padding-left: 1.5em;
    display: block;
    height: auto;
  }
}

.card__title:after {
  opacity: 0;
  transition: .3s opacity ease-in-out;
  content: "";
  background-image: url('/assets/img/ui/arrow-right-green.svg');
  background-size: 100% auto;
  background-position: center center;
  position: absolute;
  background-repeat: no-repeat;
  width: 10px;
  height: 13px;
  margin-top: 2px;
  margin-left:1em;
}

.active .card__title {
  @media screen and (min-width: 1000px) {
    &:after {
      opacity: 1;
    }
  }
}

.card__figure {
  color: $blue;
  background-color: white;
  //padding: 1em;
  max-width: 400px;
  margin: 0 auto;
  max-height: 0;
  overflow: hidden;
  transition: .3s max-height ease-in-out;
  a {
    color: $blue;
  }
  @media screen and (min-width: 1000px) {
    display: none;
  }
}

.card__figure__container {
  padding: 1em 1em 2em 1em;
  @media screen and (min-width: 700px) {
    font-size: .9em;
  }
}

.active .card__figure {
  max-height: 10em;
}

.card__title__container {
  width: 65%;
  padding-left: 1.5em;
  padding-right: .5em;

  @media screen and (min-width: 1000px) {
    a {
      color: white;
    }
    padding: .75em;
    padding-bottom: .5em;
    width: 95%;
    background-color: $green;
    overflow: hidden;
    transition: all .3s ease-in-out;
    position: absolute;
    bottom: -20%;
    z-index: 50;
    height: 50%;
    margin-right: .25em;
  }
}

.active .card__title__container {
    background-color: $blue;
}

.card__figure__large {
  display: none;
  font-size: .8em;
  @media screen and (min-width: 1000px) {
    display: block;
    max-height: 0;
    overflow: hidden;
    opacity: 0;
    transition: .3s opacity ease-in-out;
    padding-left: 1.7em;
    padding-right: .5em;
    text-align: left;
    padding-top: .5em;
  }
}

.active .card__figure__large {
  @media screen and (min-width: 1000px) {
    max-height: inherit;
    opacity: 1;
  }
}

.card-container {
  //max-height: 90px;
  //overflow: hidden;
  display: block;
  transition: .2s max-height ease-in-out;
  cursor: pointer;
  @media screen and (min-width: 1000px) {
    max-width: inherit;
    margin: 0;
  }
}

.card__link {
  display: block;
  font-weight: bold;
  margin-bottom: 3em;
  color: $blue;
  margin-top: 1em;
  position: relative;
  text-transform: uppercase;
  &:after {
    content: "";
    background-image: url('/assets/img/ui/arrow-right-green.svg');
    background-size: 100% auto;
    background-position: center center;
    position: absolute;
    background-repeat: no-repeat;
    width: 8px;
    height: 100%;
    margin-left: .75em;
  }
  @media screen and (min-width: 1000px) {
    display: none;
  }
}

.card-container.active {
  max-height: 500px;
  transition: .5s max-height ease-in-out;
  @media screen and (min-width: 1000px) {
    max-height: inherit;
  }
}
