.feature-title {
  background-color: $green;
  margin-top: 0;
  padding: .5em .75em;
  color: white;
  text-transform: uppercase;
  display: inline-block;
}

.feature-heading {
  margin-top: 0;
  @media screen and (min-width: 800px) {
    margin-top: .5em;
  }
}

.feature-section-1 {
  display: block;
  position: relative;
}
.feature-section-2 {
  display: block;
}

.feature-1 {
  clip-path: polygon(0 25%, 100% 0, 100% 100%, 0% 100%);
  img {
    width: 100%;
  }
  @media screen and (min-width: 800px) {
    clip-path: polygon(30% 0, 100% 0, 100% 100%, 0% 100%);
    margin-left: 0;
    width: 46%;
    right: 0;
    //transform: scale(1.2);
    min-width: 400px;
  }
}

.secondary-feature {
  margin-top: 0;
  @media screen and (min-width: 800px) {
    margin-top: 1.5em;
  }
}

.secondary-feature__image {
  img {
    margin-bottom: 1.5em;
    width: 100%;
  }
}

@media screen and (min-width: 800px) {
  .feature-section-1 {
    display: flex;
    justify-content: space-between;
    .feature-1 {
      order: 1;
    }
  }
  .secondary-feature {
    display: flex;
    justify-content: space-between;
    .secondary-feature__image {
      order: 2;
      margin-top: 1em;
      width: 42%;

    }
  }

  .feature-section-2 {
    display: flex;
    .feature-1 {
      order: 1;
      width: 40%;
    }
  }
}


.feature-2 {
  text-align: left;
  p {
    font-weight: 300;
    line-height: 1.4;
  }
  @media screen and (min-width: 800px) {
    padding-right: 2em;
    width: 50%;
    max-width: 600px;
    h2 {
      text-align: left;
    }
  }
}

.feature-button {
  background-color: darken($yellow,10%);
  text-transform: uppercase;
  border: 1px solid darken($yellow,10%);
  color: white;
  margin-bottom: 1em;
  margin-top: .5em;
  display: inline-block;
  padding: .6em .85em;
  line-height: 1.3;
  border-radius: 5px;
  transition: .3s ease-in-out all;
  font-size: .9em;
  font-weight: bold;
  letter-spacing: .03em;
  &:hover {
    color: darken($yellow,10%);
    background-color: white;
  }
}

.feature-footer {
  background-color: $gray;
  padding: 1em;
  margin-top: 2em;
  .button-link {
    margin-bottom: 1.5em;
  }
}

.feature-links {
  p {
    font-weight: 300;
  }
  .feature {
    margin-bottom: 2em;
    margin: 1em auto;
  }
}

.feature-section-background {
  background-color: $gray;
  padding: 0 2em 0 2em;
  margin: 0 auto;
  margin-bottom: 5em;
  @media screen and (min-width: 600px) {
    padding-right: 0;
    padding: 0 0em 0em 3em;
    position: relative;
    margin-bottom: 6em;
    /*&:before {
      width: 10%;
      height: 135%;
      position: absolute;
      top: 0;
      left: 0;
      margin-left: -10%;
      clip-path: polygon(0 28%, 100% 0, 100% 74%, 0 100%);
      content: "";
      opacity: 0.5;
      background: #D8D8D8;
    }*/
  }
}
.teaser-block {
  width: 80%;
  margin: 0 auto;
  text-align: center;
  display: inline-block;
  margin-top: 2em;
  p {
    font-weight: 300;
    font-size: .9em;
    margin-bottom: 1em;
  }
}

@media screen and (min-width: 850px) {

  .feature-section-3 {
    display:flex;
    justify-content: space-around;
    max-width: 1000px;
    margin: 0 auto;
    flex-wrap: wrap;
  }

  .feature-links {
    display: flex;
    padding: 1.5em;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .feature {
    width: 45%;
  }

  .teaser-block {
    width: 25%;
    p {
      margin-bottom: 1.5em;
    }
  }
}
