.hours {
  background-size: auto;
  background-repeat: no-repeat;
  background-position: top left;
  margin-left: 1em;
  padding: 0.25em 1em 0.25em 1.5em;
  //width: 100%;
  background-color: $blue;
  text-align :left;
  border-left: $yellow 5px solid;
  @media screen and (min-width: 600px) {
    margin: auto 0 auto auto;
    width: 70%;
    padding: 0.25em 1em;
    background-image: url('/assets/img/ui/secondary-background.svg');
    text-align: right;
    background-color: transparent;
    border: none;
    transition:all 0.25s ease-in-out ;
    transform-origin:bottom right;
  }
  @media screen and (min-width: 700px) {
    padding: 0.07em 1em;
    max-width: 600px;
    text-align: center;
    width: 60%;
  }
}

/*.shrink .hours {
  @media screen and (min-width: 600px) {
    transform: scale3d(.8, .8, 1);

  }
}*/

.hours-h3 {
  color: white;
  font-size: 0.7em;
  line-height: 1.5;
  @media screen and (min-width: 450px) {
    font-size: 0.8em;
  }
}

.hours-h3 span {
  font-weight: bold;
  font-family: $sans;
  font-size: 1.2em;
}
