.featured-profiles {
  max-width: 900px;
  margin: 0 auto;
  margin-bottom: 3em;
  @media screen and (min-width: 600px) {
    h2 {
      text-align: left;
    }
  }
}

.featured-profiles-listing {
  @include no-list;
  margin-top: 3em;
}

.featured-profiles__card {
  margin-bottom: 2.5em;
  border-bottom: 2px solid $gray;
  padding-bottom: 2em;
  &:last-child {
    border: none;
  }
  @media screen and (min-width: 600px) {
    display: flex;
    justify-content: space-between;
    &:nth-child(even) {
      .featured-profiles__image {
        order: 2;
      }
    }
  }
}

.featured-profiles__image {
  background-color: $green;
  padding: 0;
  margin: 0;
  display: inline-block;
  color: white;
  align-self: flex-start;
  img {
    border-bottom: 5px solid $darkgreen;
  }
  @media screen and (min-width: 600px) {
    max-width: 30%;
  }
  h4 {
    margin: 0;
    padding: .95em;
  }
}

.featured-profiles__text {
  text-align: left;
  h3 {
    text-align: center;
    text-transform: uppercase;
  }
  @media screen and (min-width: 600px) {
    width: 65%;
    h3 {
      text-align: left;
    }
  }
}

.text-columns__listing {
  @include no-list;
  display: grid;
  @media screen and (min-width: 500px) {
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 15px;
  }
  @media screen and (min-width: 650px) {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

.text-columns__item {
  text-align :left;
  h4 {
    color: $green;
    padding-bottom: 0;
    margin-bottom: 0;
  }
  p {
    padding-top: 0;
    margin-top: .25em;
  }
}
