.featured-profiles {
  max-width: 900px;
  margin: 0 auto;
  margin-bottom: 3em;
  @media screen and (min-width: 600px) {
    h2 {
      text-align: left;
    }
  }
}

.featured-profiles-listing {
  @include no-list;
  margin-top: 3em;
}

.featured-profiles__card {
  margin-bottom: 2.5em;
  border-bottom: 2px solid $gray;
  padding-bottom: 2em;
  &:last-child {
    border: none;
  }
  @media screen and (min-width: 600px) {
    display: flex;
    justify-content: space-between;
    &:nth-child(even) {
      .featured-profiles__image {
        order: 2;
      }
    }
  }
}

.featured-profiles__image {
  background-color: $green;
  padding: 0;
  margin: 0;
  display: inline-block;
  color: white;
  align-self: flex-start;
  img {
    border-bottom: 5px solid $darkgreen;
  }
  @media screen and (min-width: 600px) {
    max-width: 30%;
  }
  h4 {
    margin: 0;
    padding: .95em;
  }
}

.featured-profiles__text {
  text-align: left;
  h3 {
    text-align: center;
    text-transform: uppercase;
  }
  @media screen and (min-width: 600px) {
    width: 65%;
    h3 {
      text-align: left;
    }
  }
}

.text-columns__listing {
  @include no-list;
  display: grid;
  @media screen and (min-width: 500px) {
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 15px;
  }
  @media screen and (min-width: 650px) {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

.text-columns__item {
  text-align :left;
  h4 {
    color: $green;
    padding-bottom: 0;
    margin-bottom: 0;
  }
  p {
    padding-top: 0;
    margin-top: .25em;
  }
}

/*
.profile-card {
  display: inline-flex;
  max-width: 350px;
}

.profile-card a {
  color: white;
}

.holder{
  //position:relative;
  top: 100px;
  left: 300px;
  //background: $green;
  cursor: pointer;
  //transition: transform 0.2s;
  perspective: 1000px;
  margin-bottom: 80px;
}
.holder:hover {
  transform: translate(0,60px);
  .title {
    top: 0;
  }
  .title h3 {
    //top: 0;
    //position: relative;
  }
}
.holder img{
  z-index: 22;
  transform: rotateY(0deg);
  transform-origin: 50% 0%;
  opacity: 1;
  transition: transform 0.3s, opacity 0.3s;
  perspective: 400px;
  transform: skew(2deg);
}
.holder:hover img{
  opacity: 0.75;
  transform: rotateX(120deg);
}
.title{
  width: 100%;
  height: 100%;
  background: $yellow;
  position: absolute;
  top: 60px;
  padding: 2em 1em 1em 1em;
}
.title h3{
  padding: 0;
  color: #fff;
  font-family: $sans;
  font-size: 1.3em;
  font-weight: 100;
  bottom: 0;
  position: absolute;
  left: 0;
  right: auto;
  width: 100%;
  //overflow: hidden;
 /* text-overflow:ellipsis;
  white-space: nowrap;*/
  //margin: 8px auto 6px 12px;
/*}

/*
.title h4 {
  margin:0;
  font-size: 0.9em;
}

.title p {
  font-size: 0.8em;
  padding: 5% 8%;
  text-align: left;
}

.title button {
  margin-top: 0;
}*/
