h1 {
  font-weight: 100;
}
h1 span {
  font-family: $serif;
  font-weight: bold;
}

p {
  font-weight: 300;
  letter-spacing: 0.01em;
}

h2 {
  text-align: center;
  font-size: 1.65em;
  margin-top: 0;
  span {
    font-family: $serif;
    color: $yellow;
  }
  @media screen and (min-width: 600px) {
    font-size: 1.9em;
    margin-top: .75em;
  }
}

h3 {
  font-size: 1.2em;
  @media screen and (min-width: 600px) {
    font-size: 1.3em;
  }
}

h4 {
  font-size: 1.08em;
}

h6 {
  text-transform: uppercase;
  letter-spacing: .5px;
  padding-bottom: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid $gray;
}

.introduction{
  font-size: 1.1em;
  max-width: 600px;
  margin: 0 auto;
  padding: 0 1em 0 1em;
  margin-bottom: 3em;
  line-height: 1.45;
  p {
    font-weight: 500;
  }
  @media screen and (min-width: 600px) {
    padding: 1em;
  }
}

.quote-page-quote {
  padding: 2.6rem 2.2rem 2rem 3.6rem;
  width: 20rem;
  position: relative;
  margin: 0 2rem 2rem 0;
  float: right;
  font-size: 1.8rem;
  line-height: 1.4;
  text-transform: uppercase;

 border: 1px solid ;

}

.callout-text p {
  font-size: 135%;
  font-weight: 500;
}

.quote-page-quote br { display: none; }
.quote-page-quote:before, .quote-page-quote:after {
  content: "“";
  font-size: 400%;
  position: absolute;
  color: $green;
}

.quote-page-quote:before{
  top: .25rem;
  left: .5rem;
}

.quote-page-quote:after {
  content: "”";
  bottom: -3rem;
  right: 3rem;
}

.text-link {
  color: $green;
  &:hover {
    color: $yellow;
  }
}
