{# This is the entry template for a single Collections Item #}

{% extends "layouts/secondary" %}

{% block content %}

  {{ entry.mediaDescription }}

  {% if entry.relatedLinksDownloads | length %}

    {% for block in entry.relatedLinksDownloads %}

        {% if block.type == "externalLink" %}

            <a href="{{block.linkUrl}}">{{block.linkName}}</a>

        {% elseif block.type == "fileDownload" %}
            {% for files in block.file %}
              <a href="{{files.url}}">{{block.fileName}}</a>
            {% endfor %}
        {% endif %}

    {% endfor %}
  {% endif %}

{% endblock %}
