{% extends "_layout" %}

{# this is the category page that is used to output Collections and Resources by type #}

{% block subheader %}

{% if category.layout == "feature" %}
    This is the content layout
  {% elseif category.layout == "photo" %}
    This is the photo layout
  {% else %}
    This is the timeline layout
{% endif %}

<h1>{{ category.title }}</h1>
<h2>{{ category.subHeadline }}</h2>
<figure>
  {% for asset in category.featureImage %}
    <img src="{{asset.url}}" alt="{{asset.title}}" / >
  {% endfor %}
</figure>

{% endblock %}

{% block content %}
  {% set entries = craft.entries.relatedTo(category) %}
  <ul>
    {% for entry in entries %}
      <li><a href="{{entry.url}}">{{ entry.title }}</a></li>
    {% endfor %}
  </ul>

{% endblock %}
