{% extends "_layout" %}

{# this is the category page that is used to output Collections and Resources by type #}

{% block subheader %}
{% cache %}

<section class="top-banner">
  {% for asset in category.featureImage %}
      <picture>
        <source media="(min-width: 1000px)" srcset="{{asset.url('featureImageShort')}}">
        <source media="(min-width: 600px)" srcset="{{asset.url('featureImageMedium')}}">
        <img src="{{asset.url('featureImageSmall')}}" alt="{{asset.title}}">
      </picture>
  {% endfor %}
  <div class="banner">
    <h1 class="banner-h1">{{ category.title }}</h1><!-- check to see if title needs to be outputed -->
    <h2 class="banner-h2">{{ category.subHeadline }}</h2>
  </div>
</section>

{% if category.layout == "feature" %}
    This is the content layout
  {% elseif category.layout == "photo" %}
    This is the photo layout
  {% else %}
    This is the timeline layout
{% endif %}

{% endcache %}
{% endblock %}

{% block content %}
{% cache %}

{{ category.body }}


{# FEATURE LAYOUT #}
{% if category.layout == "feature" %}
{% set entries = craft.entries.relatedTo(category) %}
  <ul>
    {% for entry in entries %}
      <li><a href="{{entry.url}}">{{ entry.title }}</a></li>
    {% endfor %}
  </ul>
{% endif %}


{# PHOTO LAYOUT #}

{% if category.layout == "photo" %}
{% set entries = craft.entries.relatedTo(category) %}
  <ul class="photo-heavy-ul">
    {% for entry in entries %}
    <li class="pictures">
      {% for asset in entry.featureImage %}
          <a href="{{ asset.url}}"><img src="{{ asset.url('photoHeavy') }}" alt=" {{asset.title }}" /></a>
      {% endfor %}
    </li>
    {% endfor %}
  </ul>
{% endif %}


{# TIMELINE LAYOUT #}
{% if category.layout == "timeline" %}
  {% for event in craft.entries.section('timelineEvent').relatedTo(category) %}
  {{ event.title }}
  {{ event.body }}
    {% for asset in event.featureImage %}
      <img src="{{asset.url}}" alt="{{asset.title}}" / >
    {% endfor %}
  {% endfor %}
{% endif %}


{% endcache %}
{% endblock %}
