{% extends "_layout" %}

{# this is the category page that is used to output Collections and Resources by type #}

{% block subheader %}
{% cache %}

<section class="top-banner">
  {% for asset in category.featureImage.all() %}
      <picture>
        <source media="(min-width: 1000px)" srcset="{{asset.url('featureImageShort')}}">
        <source media="(min-width: 600px)" srcset="{{asset.url('featureImageMedium')}}">
        <img src="{{asset.url('featureImageSmall')}}" alt="{{asset.title}}">
      </picture>
  {% endfor %}
  <div class="banner">
    <h1 class="banner-h1">{{ category.title }}</h1>
    {% if category.subHeadline | length %}<h2 class="banner-h2">{{ category.subHeadline }}</h2> {% endif %}
  </div>
</section>
{% endcache %}
{% endblock %}


{% block content %}


{# FEATURE LAYOUT #}
{% if category.layout == "feature" %}

  <div class="introduction">
    {{ category.body }}
  </div>
  {% include 'globals/featureItem.html' %} {# displays the now featuring block #}

{% set entries = craft.entries.relatedTo(category).all() %}
<h2>{{category.featuredTitle}}</h2>
<div class="feature-links">
{% for entry in entries %}
  {% include 'globals/noImageListing.html' %}
{% endfor %}
</div>


{% endif %}


{# PHOTO LAYOUT #}

{% if category.layout == "photo" %}
<div class="introduction">{{ category.body }}</div>

{% set entries = craft.entries.relatedTo(category) %}
{% paginate entries.limit(16) as pageInfo, pageEntries %}
<div class="photo-gallery" itemscope itemtype="http://schema.org/ImageGallery">
  {% for entry in pageEntries %}
        <figure class="photo-gallery__item">
        {% for asset in entry.featureImage %}
            <a class="content" href="{{ asset.getUrl('galleryFull')}}" itemprop="contentUrl" data-size="{{ asset.getWidth('galleryFull') }}&#120;{{ asset.getHeight('galleryFull') }}">
              <img src="{{ asset.getUrl('gallery') }}" itemprop="thumbnail" alt="{{asset.title }}" />
            </a>
        {% endfor %}
        <figcaption itemprop="caption description">
          <strong>{{entry.title}}</strong>
          {{entry.mediaDescription}}
        </figcaption>
        </figure>
  {% endfor %}
</div>
<div class="searchResults">
  {# Prints out the search navigation at the bottom of the webpage #}
  {% if pageInfo.prevUrl %}
    <a class="button-link" href="{{ pageInfo.prevUrl }}"> Previous </a>
  {% endif %}

  {% for page, url in pageInfo.getPrevUrls( 5 ) %}
    <a class="page-number" href="{{ url }}">{{ page }}</a>
  {% endfor %}

  {% if pageInfo.currentPage %}
    <a class="page-number currentPage">{{ pageInfo.currentPage }}</a>
  {% endif %}

  {% for page, url in pageInfo.getNextUrls( 5 ) %}
    <a class="page-number" href="{{ url }}">{{ page }}</a>
  {% endfor %}

  {% if pageInfo.nextUrl %}
    <a class="button-link" href="{{ pageInfo.nextUrl }}"> Next </a>
  {% endif %}
</div>

{% endif %}


{# TIMELINE LAYOUT #}


{% if category.layout == "timeline" %}

<section class="timeline-body ">
  <div class="timeline-body__main">
    {{ category.body }}
    {% for image in category.secondaryImage.all() %}
    <img src="{{ image.url}}" alt="image.title" />
    {% endfor %}
    {% if category.mainFeaturedItem | length %}
      {% set featured = category.mainFeaturedItem.all() %}
    {% endif %}
    {% if featured is defined %}
    {% for entry in featured %}
      <div class="timeline__feature">
      {% for asset in entry.featureImage.all() %}
        <img class="lazy" data-src="{{ asset.url('secondaryImage') }}" alt="{{ asset.title }}" / >
      {% endfor %}
      <div class="timeline__feature__caption">{% include 'globals/teaserText.html' %} <a href="{{ entry.url }}">Learn more about {{ entry.title }}</a></div>
      </div>
    {% endfor %}
    {% endif %}
  </div>

  {% set currentcategory = craft.entries.section('historicalMedia').relatedTo(category).limit(4) %}

  <aside class="timeline-body__aside">
    <h2>{{category.featuredTitle}}</h2>
    <ul class="timeline-resources">
    {% for entry in currentcategory.all() %}
      <li class="timeline-resources__item">
        <a href="{{entry.url}}">
          <h3>{{ entry.title }}</h3>
        </a>
          {% include 'globals/teaserText.html' %}
        <a class="feature-button" href="{{ entry.url}}">Learn More</a>
      </li>
    {% endfor %}
    </ul>
  </aside>

</section>

{% set currenttimeline = craft.entries.section('timelineEvent').relatedTo(category).all() %}
<h2>{{category.title}} Timeline</h2>
<section class="timeline">
  {% for event in currenttimeline %}
  <div class="timeline-tile timeline-text">
    <div class="timeline-text__inner">
      <h3>{{ event.title }}</h3>
      {{ event.body }}
    </div>
  </div>
  {% if event.featureImage | length %}
  {% for asset in event.featureImage.all() %}
  <div class="timeline-tile timeline-image" style="background-image: url('{{asset.url}}');">
  </div>
  {% endfor %}
  {% endif %}
  {% endfor %}
</section>

{% endif %}




{# CODE TO SUPPORT PHOTOSWIPE PLUGIN #}

<!-- Root element of PhotoSwipe. Must have class pswp. -->
<div class="pswp" tabindex="-1" role="dialog" aria-hidden="true">

    <!-- Background of PhotoSwipe.
         It's a separate element as animating opacity is faster than rgba(). -->
    <div class="pswp__bg"></div>

    <!-- Slides wrapper with overflow:hidden. -->
    <div class="pswp__scroll-wrap">

        <!-- Container that holds slides.
            PhotoSwipe keeps only 3 of them in the DOM to save memory.
            Don't modify these 3 pswp__item elements, data is added later on. -->
        <div class="pswp__container">
            <div class="pswp__item"></div>
            <div class="pswp__item"></div>
            <div class="pswp__item"></div>
        </div>

        <!-- Default (PhotoSwipeUI_Default) interface on top of sliding area. Can be changed. -->
        <div class="pswp__ui pswp__ui--hidden">

            <div class="pswp__top-bar">

                <!--  Controls are self-explanatory. Order can be changed. -->

                <div class="pswp__counter"></div>

                <button class="pswp__button pswp__button--close" title="Close (Esc)"></button>

                <button class="pswp__button pswp__button--share" title="Share"></button>

                <button class="pswp__button pswp__button--fs" title="Toggle fullscreen"></button>

                <button class="pswp__button pswp__button--zoom" title="Zoom in/out"></button>

                <!-- Preloader demo http://codepen.io/dimsemenov/pen/yyBWoR -->
                <!-- element will get class pswp__preloader--active when preloader is running -->
                <div class="pswp__preloader">
                    <div class="pswp__preloader__icn">
                      <div class="pswp__preloader__cut">
                        <div class="pswp__preloader__donut"></div>
                      </div>
                    </div>
                </div>
            </div>

            <div class="pswp__share-modal pswp__share-modal--hidden pswp__single-tap">
                <div class="pswp__share-tooltip"></div>
            </div>

            <button class="pswp__button pswp__button--arrow--left" title="Previous (arrow left)">
            </button>

            <button class="pswp__button pswp__button--arrow--right" title="Next (arrow right)">
            </button>

            <div class="pswp__caption">
                <div class="pswp__caption__center"></div>
            </div>

        </div>

    </div>

</div>

<script defer type="text/javascript" src="{{ siteUrl }}assets/js/min/photoswipe-min.js"></script>


{% endblock %}
