{% extends 'layouts/feature' %}

{# Displays the main featured item #}

{# Displays the all the events underneath the now featuring item on the webpage #}
{% block content %}
  {% cache %}

  <h2>{{entry.subHeadline}}</h2>

  <div class="feature-links">
    {% set entries = craft.entries.section('events') %}
    {% for entry in entries %}
      {% if entry.endDate > now %}
        {% include 'globals/noImageListing.html' %}
      {% endif %}
    {% endfor %}
  </div>

  {% include "globals/relatedLinks.html" %}

  {% endcache %}
{% endblock %}
