{% extends 'layouts/feature' %}

{# Displays the main featured item #}

{# Displays the all the events underneath the now featuring item on the webpage #}
{% block content %}
  {% cache %}

    {# Displays the current/upcoming events #}
    {# if the start or end date is today or in the future, then display the event. #}
    <h2>{{entry.subHeadline}}</h2>
    <div class="feature-links">
      {% for entry in craft.entries.section('events').all() %}
        {% if entry.endDate >= now or entry.startDate >= now %}
          {% include 'globals/noImageListing.html' %}
        {% endif %}
      {% endfor %}
    </div>

    {# Shows two past events #}
    {# if the end and start dates are in the past, then display the events under past events#}
    <h2>Past Events</h2>
    <div class="feature-links">
      {% for entry in craft.entries.section('events').all() %}
        {% if entry.endDate < now and entry.startDate < now and entry.exhibitStatus != 'ongoingExhibit' and loop.index0 <= 2%}
          {% include 'globals/noImageListing.html' %}
        {% endif %}
      {% endfor%}
    </div>

    {# This is the button to view the past events #}
    {% include "globals/relatedLinks.html" %}


    {# Tests to see if the video wil be displayed on the webpage #}
    {# {% include "globals/video.html" %} #}

    {# Tests to see if the secondary featured item will display on the webpage #}
    {# {% include "globals/secondaryFeaturedItemBlock.html"%} #}

  {% endcache %}
{% endblock %}
