
{% extends 'layouts/profiles' %}

{% block content %}
{% cache globally %}

  <div class="feature-section-background">
    <h1>{{ entry.subHeadline }}</h1><!-- this is a h1, but have to use subHeadline field for now -->
    <div class="feature-section-3">
			{% for entry in craft.entries.section('teamMembers') %}
				{% if entry.role == "leadership" %}
          {% include 'globals/profiles.html' %}
				{% endif %}
			{% endfor %}
		</div>
  </div>



  {# below is testing how to use arrays #}
  {% set lastNameArray = [] %}
  {% set allMembers = craft.entries.section('teamMembers').orderBy('title') %}
  {% for singleMember in allMembers %}
    {% set fullNameArray = singleMember.title | split(' ') %}
    {% set lastNameArray = fullNameArray[1] %}
  {% endfor %}




  <h1>Board Members</h1>
  {% set myMembers = craft.entries.section('teamMembers').orderBy('lastName') %}
  {% for entry in myMembers %}
    {% if entry.role == "boardMembers" %}
      {# {% include 'globals/noImageTeaser.html' %} need this to display without learn more putting code here for now #}
      <div class="feature-links">
        <h1>{{ entry.featuredTitle }}</h1>
        <div class="feature">
          <h2>{{ entry.title }}</h2>
          <p>{{ entry.jobTitle }} </p>
          <p>{{ entry.body }}</p>
          {% if entry.url %} {% endif %}
        </div>
      </div>
    {% endif %}
  {% endfor %}

{% endcache %}
{% endblock %}
