
{% extends 'layouts/profiles' %}

{% block content %}
  {% cache %}

    {# displays the leaders #}
    <div class="feature-section-background">
      <h1>{{ entry.subHeadline }}</h1><!-- this is a h1, but have to use subHeadline field for now -->
      <div class="feature-section-3">
  			{% for entry in craft.entries.section('teamMembers').orderBy('lastName') %}
  				{% if entry.role.contains('leadership') %}
            {% include 'globals/profiles.html' %}
  				{% endif %}
  			{% endfor %}
  		</div>
    </div>

    {# displays the board members #}
    <h1>Board Members</h1>

    <h1>{{ entry.featuredTitle }}</h1>

    {% set members = craft.entries.section('teamMembers').orderBy('lastName') %}

    {% for entry in members %}
      {% if entry.role.contains('boardMembers') %}
        {% if entry.jobTitle != "Board Member" %}
        <div class="feature-links">
          <div class="feature">
            <h2>{{ entry.title }}</h2>
            <p>{{ entry.jobTitle }} </p>
          </div>
        </div>
        {% endif %}
      {% endif %}
    {% endfor %}

    {% for entry in members %}
      {% if entry.role.contains('boardMembers') %}
        {% if entry.jobTitle == "Board Member" %}
        <div class="feature-links">
          <div class="feature">
            <h2>{{ entry.title }}</h2>
            <p>{{ entry.jobTitle }} </p>
          </div>
        </div>
        {% endif %}
      {% endif %}
    {% endfor %}


  {% endcache %}
{% endblock %}
