{% extends 'layouts/profiles' %}

{% block content %}

  <div class="feature-section-background">
    <h1>{{ entry.subHeadline }}</h1><!-- this is a h1, but have to use subHeadline field for now -->
    <div class="feature-section-3">
			{% for entry in craft.entries.section('teamMembers') %}
				{% if entry.role == "leadership" %}
          {% include 'globals/profiles.html' %}
				{% endif %}
			{% endfor %}
		</div>
  </div>
  <h1>Board Members</h1>
  {% for entry in craft.entries.section('teamMembers') %}
    {% if entry.role == "boardMembers" %}
      {% include 'globals/noImageTeaser.html' %}
    {% endif %}
  {% endfor %}

{% endblock %}
