.banner-img {
  width: 100%;
}

.banner-h1 {
  font-family: $sans;
  font-size: 2em;
  font-weight: 200;
}

span {
  font-family: $serif;
  font-weight: 500;
}

.banner-h2 {
  font-family: $sans;
  font-size: 1em;
  font-weight: 200;
  margin-top: -15px;
}

.top-banner {
  position: relative;
  max-height: 300px;
  overflow: hidden;
}

.banner {
  background-color: rgba(#ffffff,.7);
  //opacity: 0.5;
  -webkit-clip-path: polygon(0 0, 100% 0, 81% 100%, 0% 100%);
  clip-path: polygon(0 0, 100% 0, 81% 100%, 0% 100%);
  position: absolute;
  bottom: 10px;
  left: 0;
  padding: 0.5em 1em;
  width: 80%;
}

@media screen and (min-width: 600px) {

  .banner {
    width: 35%;
    padding: 1em 1em 1em 3em;
  }

  .banner-h1 {
    font-size: 2em;
  }

  .banner-h2 {
    font-size: 1.5em;
  }
}
