.banner-img {
  width: 100%;
}

.banner-h1 {
  font-family: $serif;
  font-size: 2em;
  margin-bottom: 0;
  padding-bottom: 0;
  margin-top: 0;
}

.banner-h2 {
  font-family: $sans;
  font-size: 1em;
  font-weight: 400;
  text-align: left;
  margin-top: 0;
  padding-top: .1em;
  margin-bottom: 0;
  color: $blue;
}

.banner-h1 span {
  font-family: $serif;
  font-weight: 900;
  color: $green;
}

.top-banner {
  position: relative;
  overflow: hidden;
  margin: .25em;
  overflow: hidden;
  /*&:after {
    content: "";
    top: 0;
    right: 0;
    position: absolute;
    height: 210%;
    width: 120%;
    margin-right: -52%;
    display: block;
    opacity: 0.15;
    transform: rotate(30deg);
    background: white;
    z-index: 2;
  }*/
  @media screen and (min-width: 600px) {
    margin: .75em;
  }
  img {
    width: 100%;
  }
}

.banner {
  background-image: url('/assets/img/ui/banner-background.svg');
  background-repeat: no-repeat;
  position: absolute;
  bottom: 50px;
  left: 0;
  padding: 1.75em 1em;
  width: 90%;
  max-width: 500px;
  background-size: auto;
  background-position: top right;
  text-align: left;
  z-index: 200;
  @media screen and (min-width: 600px) {
    padding-left: 3em;
    max-width: 600px;
    bottom: 70px;
  }
}

@media screen and (min-width: 600px) {

  .banner-h1 {
    font-size: 2.4em;
  }

  .banner-h2 {
    font-size: 1.1em;
  }
}
