img {
  width: 100%;
  max-width: 900px;
}

h1 {
  font-family: $sans;
  font-size: 2em;
  font-weight: 200;
}

span {
  font-family: $serif;
  font-weight: 500;
}

h2 {
  font-family: $sans;
  font-size: 1em;
  font-weight: 200;
  margin-top: -15px;
}

.banner {
  background-color: #ffffff;
  opacity: 0.5;
  -webkit-clip-path: polygon(0 0, 100% 0, 81% 100%, 0% 100%);
  clip-path: polygon(0 0, 100% 0, 81% 100%, 0% 100%);
  margin: -200px 0;
  padding: 0.5em 1em;
  width: 80%;
}

@media screen and (min-width: 600px) {

  .banner {
    width: 35%;
    padding: 1em 1em 1em 3em;
  }

  h1 {
    font-size: 2em;
  }

  h2 {
    font-size: 1.5em;
  }
}
