body {
  font-family: $sans;
  padding: 1em;
  max-width: 1200px;
  text-align: center;
}

button, input, select, textarea {
  background-color: $green;
  text-transform: uppercase;
  color: white;
  &:hover {
    color: $green;
    background-color: white;
  }
}

input {
  background-color: white;
  color: $green;
}
