.breadcrumbs {
  list-style: none;
  display: flex;
  font-size: .95em;
  @media screen and (min-width: 800px) {
    margin: 0;
    position: absolute;
    bottom: -5px;
  }
}


.breadcrumbs__item {
  &:after {
    content: ">";
    margin: 0 .45em;
  }
  &:last-child {
    &:after {
      content: none;
    }
  }
}
