.breadcrumbs {
  list-style: none;
  display: flex;
  font-size: .95em;
}


.breadcrumbs__item {
  &:after {
    content: ">";
    margin: 0 .45em;
  }
  &:last-child {
    &:after {
      content: none;
    }
  }
}
