.breadcrumbs {
  display: flex;
  font-size: .95em;
  @include no-list;
  padding-top: 1em;
  padding-left: 1.25em;
  font-weight: bold;
  @media screen and (min-width: 600px) {
    margin: 0;
    position: absolute;
    padding-left: 1em;
    color: white;
    a {
      color: $yellow;
    }
  }
}


.breadcrumbs__item {
  &:after {
    content: ">";
    margin: 0 .45em;
  }
  &:last-child {
    &:after {
      content: none;
    }
  }
}
