footer {
  background-color: $blue;
  font-family: $sans;
  text-align: center;
  font-weight: lighter;
  border-top: 2px solid $green;
  margin-top: 2em;
  padding: 2em 1em;
}

.small-logo {
  max-width: 125px;
}

.footer-container {
  max-width: 1200px;
  margin: 0 auto;
  @media screen and (min-width: $breakpoint) {
    display: flex;
    justify-content: space-around;
  }
}

footer h4 {
  color: $green;
  font-weight: lighter;
  text-transform: uppercase;
}

footer h5 {
  color: white;
  font-weight: lighter;
}

.callout-footer {
  display: none;
  @media screen and (min-width: $breakpoint) {
    display: inline-block;
  }
}

.callout-footer a {
  font-size: 15px;
  margin: .5em;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 0.5em;
  background-color: $blue;
  text-transform: uppercase;
  color: white;
  border: 1px solid white;
  border-radius: 5px;
  &:hover {
     color: white;
     background-color: $green;
     border: 1px solid $green;
 }
}

.callout-footer ul {
  margin: 3em;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  color: white;
}

.menu-options {
  color: white;
}

.main-nav-links {
  padding: .25em;
}
