button, .button-link {
  background-color: $green;
  text-transform: uppercase;
  color: white;
  padding: 0.65em 1em;
  border: 1px solid $green;
  border-radius: 5px;
  margin-bottom: 1em;
  display: inline-block;
  transition: .3s all ease-in-out;
  &:hover,&:active {
    color: $green;
    background-color: white;
  }
}

main form{
  padding: 0.2em;
  box-sizing: border-box;
  margin: 20px auto;
}

.check-out{
    width: 100%;
    margin: 0 auto;
    padding: 12px 60px;
    text-align: center;
    border-radius: 3px;
    border: none;
    font-size: 18px;
    letter-spacing: 2px;
    background: $green;
    color: white;
  }

@media screen and (min-width: 650px){
  main form{
    display: flex;
  flex-wrap: wrap;
  padding: 5% 22%;
}
}
