header {
  background-color: $gray;
  font-family: $sans;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: $blue;
}

.callout-header a {
  background-color: white;
  text-transform: uppercase;
  color: gray;
  border: 1px solid gray;
  border-radius: 5px;
  padding: 0.5em;
  &:hover {
     color: white;
     background-color: $green;
     border: 1px solid $green;
 }
}

.nav-main {
  background-color: $green;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
}

.nav-main a:hover {
  color: white;
}

.nav-main li ul {
  display: none;
}

.nav-main li ul:hover {
  display: inline;
}

.header-top {
  display: inline-flex;
}

.header-top input {
    padding: 0.5em;
    border: 1px solid $green;
    border-radius: 5px;
}
