img:not([alt]) {
  outline: none;
}

h2 {
  text-align: center;
}

/*.home-card {
  display: inline-block;
  background-color: $green;
  max-width: 300px;
  font-size: 0.75em;
}

.home-card figure {
  padding: 0;
  margin: 0;
}

@media screen and (min-width: 650px) {

  .home-banner {
    display: flex;
  }
  .home-card {
    display: flex;
  }
}
*/
