.hours {
  background-image: url('../img/ui/secondary-background.svg');
  background-size: auto;
  background-repeat: no-repeat;
  background-position: top left;
  padding: 0.25em 1em;
  width: 90%;
  margin: auto 0 auto auto;
  @media screen and (min-width: 700px) {
    padding: 0.07em 0.2em;
    width: 60%;
    max-width: 600px;
  }
}

.hours-h3 {
  color: white;
  font-size: 0.8em;
}

.hours-h3 span {
  font-weight: bold;
  font-family: $sans;
  font-size: 1.2em;
}
