
.pictures{
  display: block;
  width: 200px;
  height: 200px;
  float: left;
  margin:15px;

  position: relative;
  overflow: hidden;

  &:hover{
    figcaption{
      top: 0;
    }

  }
}

figcaption{


  position: absolute;
  width: 100%;
  height:100%;
  padding: 13px 27px;
  top: 155px;
  left: 0;

  font-weight: bold;
  font-size: 90%;
}
