.profile-card {
  display: inline-flex;
  max-width: 350px;
}

.holder{
  //position:relative;
  top: 100px;
  left: 300px;
  //background: $green;
  cursor: pointer;
  transition: transform 0.2s;
  perspective: 1000px;
  margin-bottom: 80px;
}
.holder:hover {
  transform: translate(0,20px);
  .title h3 {
    top: 0;
    position: relative;
  }
}
.holder img{
  z-index: 22;
  transform: rotateY(0deg);
  transform-origin: 50% 0%;
  opacity: 1;
  transition: transform 0.3s, opacity 0.3s;
  perspective: 400px;
}
.holder:hover img{
  opacity: 0.75;
  transform: rotateX(120deg);
}
.title{
  width: 100%;
  height: 100%;
  background: $yellow;
  position: absolute;
  top: 60px;
  padding: 1%;
}
.title h3{
  padding: 0;
  color: #fff;
  font-family: $sans;
  font-size: 1.3em;
  font-weight: 100;
  bottom: 0;
  position: absolute;
  left: auto;
  right: auto;
  width: 100%;
  //overflow: hidden;
 /* text-overflow:ellipsis;
  white-space: nowrap;*/
  //margin: 8px auto 6px 12px;
}

.title h4 {
  margin:0;
  font-size: 0.9em;
}

.title p {
  font-size: 0.8em;
  padding: 5% 8%;
  text-align: left;
}

@media screen and (min-width: 550px) {




}
