.teaser-block {
  max-width: 370px;
  text-align: center;
  display: inline-block;
  margin-top: 2em;
}



@media screen and (min-width: 850px) {

  .teaser-group {
    display:flex;
    justify-content: space-around;
  }

  .teaser-block {
    max-width: 200px;
  }
}
