.feature-section-background {
  background-color: $gray;
  padding: 2em;
}
.teaser-block {
  max-width: 370px;
  text-align: center;
  display: inline-block;
  margin-top: 2em;
}

.feature-section-1{
  padding: 2.5em;
}

@media screen and (min-width: 850px) {

  .feature-section-3 {
    display:flex;
    justify-content: space-around;
  }

  .feature-links {
    display: flex;
    padding: 1.5em;
  }

  .teaser-block {
    max-width: 200px;
  }
}
