<div class="cards">
{% for entry in entry.featuredItems.all() %}
<div class="card-container">
  <figure class="card">
    {% for asset in entry.featureImage.all() %}
      <div class="lazy card__image" data-src="{{ asset.url('featureItems') }}">
      <noscript><div class="card__image" style="background-image: url('{{ asset.url('featureItems') }}')"></noscript>
      </div>
    {% endfor %}
    <div class="card__title__container">
      <h5 class="card__title">{{ entry.title }}</h5>
      <figcaption class="card__figure__large"><a href="{{ entry.url }}">{{ entry.teaserText}}</a></figcaption>
    </div>
  </figure>
  <figcaption class="card__figure"><a href="{{ entry.url }}">{{ entry.teaserText}}</a></figcaption>
  <a class="card__link" href="{{ entry.url }}">See {{ entry.title}}</a>
</div>
{% endfor %}
</div>
