{% cache %}

{# Checking to see if this is an entry or category page #}
{% if entry is defined %}
  {% if entry.mainFeaturedItem | length %}
    {% set featured = entry.mainFeaturedItem.all() %}
  {% endif %}
{% elseif category is defined %}
  {% if category.mainFeaturedItem | length %}
    {% set featured = category.mainFeaturedItem.all() %}
  {% endif %}
{% endif %}

{% if featured is defined %}
  {% for entry in featured %}
    {% set fields = entry.fields %}
    <div class="feature-section-background">
          <div class="feature-section-1">
            <div class="feature-section__text">
              <h5 class="feature-title">Now Featuring</h5>
              <h3 class="feature-heading">{{entry.title}}</h2>
              <ul class="meta-list">
                {% for field in fields %}
                  {% switch field %}
                    {% case 'startTime' %}
                      <li>{{entry.startTime  | date('g:i')}}</li>
                    {% case 'startDate' %}
                      <li>{{entry.startDate  | date('M j, Y')}}</li>
                    {% case 'location' %}
                      <li>{{entry.location}}</li>
                    {% default %}
                  {% endswitch %}
                {% endfor %}

                {% if entry.sponsor | length %}
                  <li>Sponsored By:
                    {% for block in entry.sponsor.all() %}
                        {% if block.type == "sponsor" %}
                            {% if block.sponsorText %}
                              <span class="comma">{{ block.sponsorText }}</span>
                            {% endif %}
                        {% endif %}
                    {% endfor %}
              </li>{% endif %}
            </ul>



              {% if entry.teaserText %}
                <p>{{ entry.teaserText }}</p>

              {% elseif entry.body %}
                {{ entry.body | raw }}

              {% elseif entry.mediaDescription %}
                {{ entry.mediaDescription | raw }}
              {% endif %}

              <a href="{{entry.url}}" class="feature-button">See {{entry.title}}</a>
            </div>
            {% for asset in entry.featureImage.all() %}
              <div class="lazy feature-1" data-src="{{ asset.url('secondaryImage') }}"></div>
            {% endfor %}
          </div>
    </div>
  {% endfor %}
{% endif %}
{% endcache %}
