{% for entry in entry.mainFeaturedItem %}
<div class="feature-section-background">
      <div class="feature-section-1">
        <div class="feature-2">
          <h5 class="feature-title">Now Featuring</h5>
          <h3 class="feature-heading">{{entry.title}}</h2>
          {% if entry.date | length %}
            {{entry.date  | date('M j, Y')}}
          {% endif %}
          {% if entry.date | length %}
            {{entry.eventLocation}}
          {% endif %}
          {% if entry.date | length %}
            {{entry.startTime}}
          {% endif %}
          {% if entry.date | length %}
            {{entry.endTime}}
          {% endif %}
          {% if entry.teaserText %}
            <p>{{ entry.teaserText }}</p>
          {% elseif entry.body %}
            {{ entry.body | raw }}
          {% else %}
            {{ entry.mediaDescription | raw }}
          {% endif %}
          <a href="{{entry.url}}" class="feature-button">See {{entry.title}}</a>
        </div>
        <div class="feature-1">
          {% for asset in entry.featureImage %}
            <img src="{{ asset.url('secondaryImage') }}" alt="{{ asset.title }}" / >
          {% endfor %}
        </div>
      </div>
</div>
{% endfor %}
