<footer>
  <div class="footer-container">
    <div class="footer-logo-cta-container">
      <div class="footer-logo-container">
        {% if footer.secondaryLogo | length %}
            {% for asset in footer.secondaryLogo %}
            <a href="{{siteUrl}}" class="footer-logo">
                <img src="{{ asset.url }}" alt="{{ asset.title }}" />
            </a>
            {% endfor %}
        {% endif %}
      </div>
      <div class="callout-footer">
        <ul>
          {% nav entry in craft.entries.section('secondaryNavigation').level('1') %}
                <li class="callout-header-li">
                    {% for item in entry.navigationItem %}
                      <a href="{{ item.url }}">{{ entry.title }}</a>
                    {% endfor %}
                </li>
            {% endnav %}
        </ul>
      </div>
    </div>

  <div class="footer-contact-hours">
    <div class="footer-contact">
      <h4>Contact</h4>
      <h5>
      <!-- Phone Output -->
      {% if footer.phone %}
        {{ footer.phone }}
      {% endif %}
      </h5>
      <!-- Email Address Output -->
      {% if footer.emailAddress %}
        <h5><a href="mailto:{{ footer.emailAddress }}">{{ footer.emailAddress }}</a></h5>
      {% endif %}
      <!-- Address Output -->
      <h5>{% if footer.address %}
        {{ footer.address }}
      {% endif %}
      </h5>
    </div>

    <div class="footer-hours">
      <h4>Hours</h4>
      <h5>{{ hoursOfOperation.daysAndHours }}</h5>
      <h5>
        {% if footer.admissionText %}
          {{ footer.admissionText  }}
        {% endif %}
      </h5>
    </div>
  </div>

  <!-- Social Media Matrix -->
  <div class="social-media__icons">
  {% for block in footer.socialMedia %}
      {% if block.type == "socialMedia" %}
        <a class="social-media__icon {{ block.socialMediaName }}" href="{{ block.siteURL }}">{{ block.socialMediaName }}</a>
      {% endif %}
  {% endfor %}
  </div>

  <div class="menu-options">
    <ul>
    {% nav entry in craft.entries.section('primaryNavigation').level('1') %}
          <li>
              {% for item in entry.navigationItem %}
                <a href="{{ item.url }}">{{ entry.title }}</a>
              {% endfor %}
          </li>
      {% endnav %}
    </ul>
  </div>
</div> <!-- End footer container -->

  <div class="footer-copyright">
    <p>{{ footer.copyrightText }}</p>
  </div>

</footer>
