<footer>
  <div class="footer-container">

  <div>
  <h4>Contact</h4>
  <h5>Phone: </h5>
  <!-- Phone Output -->
  {% if footer.phone %}
      {{ footer.phone | markdown }}
  {% endif %}
  <h5>Kent Historical Society</h5>
  <!-- Address Output -->
  {% if footer.address %}
      {{ footer.address | markdown }}
  {% endif %}
</div>

<div>
  <h4>Hours</h4>
  <h5>{% include 'globals/hours.html' %}</h5>
  <h5>
    {% if footer.admissionText %}
      {{ footer.admissionText | markdown }}
    {% endif %}
  </h5>
</div>

<div>
  <div class="smalllogo">
    {% if footer.secondaryLogo | length %}
        {% for asset in footer.secondaryLogo %}
            <img src="{{ asset.url }}" alt="{{ asset.title }}" />
        {% endfor %}
    {% endif %}
  </div>
  <ul>
  {% nav entry in craft.entries.section('secondaryNavigation').level('1') %}
        <li>
            {% for item in entry.navigationItem %}
              <a href="{{ item.url }}">{{ entry.title }}</a>
            {% endfor %}
        </li>
    {% endnav %}
  </ul>
</div>

<div class="menu-options">
  {# Chris's super fancy navigation plugin TM #}
  {% nav entry in craft.entries.section('primaryNavigation').level('1') %}
        <li>
            {% for item in entry.navigationItem %}
              <a href="{{ item.url }}">{{ entry.title }}</a>
            {% endfor %}
        </li>
    {% endnav %}
  <form action="{{ url('search/results') }}">
    <input type="search" name="q" placeholder="Search">
    <input type="submit" value="Go">
  </form>
</div>


<!-- Where is this going -->
<!-- Social Media Matrix -->
{% for block in footer.socialMedia %}

    {% if block.type == "socialMedia" %}

      <a href="{{ block.siteURL }}">{{ block.socialMediaName }}</a>

    {% endif %}

{% endfor %}

</div> <!-- End footer container -->
</footer>
