<header>
  {% cache globally %}
  <div class="header-top">
    <!-- Logo goes here -->
    {% if header.primaryLogo | length %}
      <div class="logo">
        {% for asset in header.primaryLogo.all() %}
            <a href="{{siteUrl}}index.php"><img src="{{ asset.url }}" alt="{{ asset.title }}" /></a>
        {% endfor %}
      </div>
    {% endif %}
    <nav class="callout-header-navigation"  role="navigation">
        <ul class="callout-header">
          {% nav entry in craft.entries.section('secondaryNavigation').level('1').all() %}
                <li class="callout-header-li">
                    {% for item in entry.navigationItem.all() %}
                      <a href="{{ item.url }}">{{ entry.title }}</a>
                    {% endfor %}
                </li>
            {% endnav %}
        </ul>
        <div class="search search-large">
          <form action="{{ url('search/results') }}">
            <input type="search" placeholder="Search the KHS" name="q">
            <input class="search-button" type="submit" value="Go">
          </form>
        </div>
        <!-- Mobile Menu Button -->
          <div class="nav-mobile">
            <a id="nav-toggle" href="#"><span class="label">Menu</span></a>
          </div>
        <!-- End Mobile Menu Button -->
    </nav>
    </div>
  {% endcache %}
  <div class="main-nav-container">
    <nav role="navigation">
        <ul class="nav-main">
          {# Chris's super fancy navigation plugin TM #}
          {% nav entry in craft.entries.section('primaryNavigation').level('<=2').all() %}
                <li class="nav-links">
                    {% for item in entry.navigationItem.all() %}
                      <a href="{{ item.url }}">{{ entry.title }}</a>
                      {% set totalDescendents = entry.getDescendants().count() %}
                    {% endfor %}
                    {% ifchildren %}
                        <ul class="nav-dropdown">
                            {% children %}
                        </ul>
                    {% endifchildren %}
                    {% if entry.displayFeaturedCategories %}
                        {# Count the number of categories in the menu #}
                            {% set count = 0 %}
                            {% for category in craft.categories.all() %}
                              {% if category.featuredCategory %}
                                {% set count = count + 1 %}
                              {% endif %}
                            {% endfor %}
                        {# End Count #}
                        <ul class="nav-dropdown {% if count >= 6 %}dual-column{%endif%}">
                            {% for category in craft.categories.all() %}
                              {% if category.featuredCategory %}
                                <li class="nav-links"><a href="{{category.url}}">{{category.title}}</a></li>
                              {% endif %}
                            {% endfor %}
                        </ul>
                    {% endif %}
                </li>
            {% endnav %}
            <div class="search search-small">
              <form action="{{ url('search/results') }}">
                <input type="search" placeholder="Search the KHS" name="q">
                <input class="search-button" type="submit" value="Go">
              </form>
            </div>
        </ul>
    </nav>
  </div>
</header>
