{% for block in entry.relatedLinksDownloads %}

    {% if block.type == "externalLink" %}

        <a href="{{block.linkUrl}}">{{block.linkName}}</a>

    {% elseif block.type == "fileDownload" %}
        {% for files in block.file %}
          <a href="{{files.url}}">{{block.fileName}}</a>
        {% endfor %}

    {% elseif block.type == "internalLink" %}
        {% for link in block.internalUrl %}
          <a href="{{ link.url }}">{{ block.linkName }}</a>
        {% endfor %}
    {% endif %}

{% endfor %}
