{% if entry.teaserText | length %}
    <p>{{ entry.teaserText }}</p>
{% elseif entry.mediaDescription | length %}
    {% set fullBody = entry.mediaDescription | striptags %}
    {% set filteredBody = fullBody | replace({'Mrs.': 'Mrs',
                                              'Mr.': 'Mr',
                                              'Ms.': 'Ms',}) %}
    {% set firstSentenceInBody = filteredBody | split('.') %}
    {% for sentence in firstSentenceInBody %}
      {% if loop.index < 2 %}
        <p>{{ sentence }}</p>
      {% endif %}
    {% endfor %}
{% elseif entry.body | length %}
    {% set fullBody = entry.body | striptags %}
    {% set filteredBody = fullBody | replace({'Mrs.': 'Mrs',
                                              'Mr.': 'Mr',
                                              'Ms.': 'Ms',}) %}
    {% set firstSentenceInBody = filteredBody | split('.') %}
    {% for sentence in firstSentenceInBody %}
      {% if loop.index < 2 %}
        <p>{{ sentence }}</p>
      {% endif %}
    {% endfor %}
{% endif %}
