{% extends 'layouts/feature' %}

{# Displays the main featured item #}

{# Displays the all the events underneath the now featuring item on the webpage #}
{% block content %}
{% cache %}

<h2>{{entry.subHeadline}}</h2>
<p>{{entry.body}}</p>
  {# Filter out the main featured item from this listing #}
  {% for entry in craft.entries.section('events') %}
      <h3>{{entry.title}}</h3>
      {{entry.body}}
      {{entry.date  | date('M j, Y')}}
      {{entry.eventLocation}}
      {{entry.startTime}}
      {{entry.endTime}}
      {% for asset in entry.featureImage %} <img src="{{ asset.url }}" alt="{{ asset.title }}"/> {% endfor %}
  {% endfor %}
  
{% endcache %}
{% endblock %}
