{# {% extends 'layouts/feature' %}#}


{#Displays the main featured item #}
{% extends '_layout' %}
{% block subcontent %}

  {% set allEvents = craft.entries.section('events').orderby('date', 'asc') %}
  {% for tmpEvent in allEvents %}
    {{ tmpEvent }}
  {% endfor %}


  {% set entry = craft.entries.section('events').first %}
  <div class="feature-section-background">
        <div class="feature-section-1">
          <div class="feature-2">
            <h5 class="feature-title">Now Featuring</h5>
            <h3 class="feature-heading">{{ entry.title }}</h2>
            {% if entry.teaserText %} {{ entry.teaserText }} {% endif %}
            {% if entry.body %} {{ entry.body }} {% endif %}
            {% if entry.eventLocation %} <p>Location: </p> {{ entry.eventLocation }} {% endif %}
          </div>
        </div>
  </div>
  <h1>-----------------------</h1>
{% endblock %}




{% block content %}
<h2>{{entry.subHeadline}}</h2>
<p>{{entry.body}}</p>
  {% for entry in craft.entries.section('events') %}
    {% if craft.entries.section('events').first %}
      <h3>{{entry.title}}</h3>
      {{entry.body}}
      {{entry.date  | date('M j, Y')}}
      {{entry.eventLocation}}
      {{entry.startTime}}
      {{entry.endTime}}
      {% for asset in entry.featureImage %}
        <img src="{{ asset.url }}" alt="{{ asset.title }}"/>
      {% endfor %}
    {% endif %}
    {% if not craft.entries.section('events').first %}
      <h3>{{entry.title}}</h3>
      {{entry.body}}
      {{entry.date  | date('M j, Y')}}
      {{entry.eventLocation}}
      {{entry.startTime}}
      {{entry.endTime}}
      {% for asset in entry.featureImage %}
        <img src="{{ asset.url }}" alt="{{ asset.title }}"/>
      {% endfor %}
    {% endif %}
  {% endfor %}
{% endblock %}
