{% extends '_layout' %}

{% block subheader %}

<div class="home-banner">
<figure>
  {% for asset in entry.featureImage %}
    <img src="{{ asset.url }}" alt="{{ asset.title }}" / >
  {% endfor %}
</figure>
<h1>{{ entry.headline }}</h1>
</div>
{% endblock %}


{% block content %}

{{ entry.body }}
<h2>{{ entry.subHeadline }}</h2>
{{ entry.body }}

<figure>
    {% for asset in entry.featureImage.first() %}
      <img src="{{ asset.url }}" alt="{{ asset.title }}" / >
    {% endfor %}
</figure>

<div class="home-card">
  <h3>{{ entry.subHeadline }}</h3>
  <figure class="holder">
    {% for asset in entry.featuredItems.first() %}<!-- This does not show up -->
      <figcaption class="title">
        <h3>{{ entry.profileName }}</h3>
        <h4>{{ entry.profileContactNumber }}</h4>
        <h4><a href="mailto:example@email.com">Email Me</a></h4><!-- What should I do with this? -->
        <p>{{ entry.description }}</p>
      </figcaption>
    {% endfor %}

      {% for asset in entry.profilePhoto.first() %}
        <img src="{{ asset.url }}" alt="{{ asset.title }}"/><!-- This does not appear in Craft -->
      {% endfor %}

  </figure>
</div>

{% endblock %}
