{% extends '_layout' %}

{% block subheader %}
{% cache %}

<input type="search" placeholder="Find Photos & Video">
<h1>{{ entry.title }}</h1>
{{ entry.body }}
<ul class="photo-heavy-ul">
  {% for media in craft.entries.section('historicalMedia') %}
      <li class="pictures">
        <figure>
          {% for asset in media.image %}
            <img src="{{ asset.url('photoHeavy') }}" alt="{{ asset.title }}" />
          {% endfor %}
          <figcaption>{{ media.imageCaption }}</figcaption>
        </figure>
      </li>
  {% endfor %}
</ul>

{% endcache %}
{% endblock %}
{% block content %}

{% endblock %}
