{# This is the Profiles page layout - contains lead paragraph, team profiles with images, additional team members without images #}

{% extends '_layout' %}

{% block subheader %}
  {% include 'globals/banner.html' %}
{% endblock %}

{% block content %}
  <h1>{{ entry.headline }}</h1>
  {{ entry.body }}

  <div class="feature-section-background">
    <h1>{{ entry.subHeadline }}</h1><!-- this is a h1, but have to use subHeadline field for now -->
    <div class="feature-section-3">
      {% include 'globals/profile-card.html' %}
    </div>

    <!-- This is where the feature-links section goes. Check with Chris about this. -->

{% endblock %}
