{# This is the Secondary-Mixed Page Layout - includes 1 lead feature item and 3 secondary featured items #}

{% extends '_layout' %}

{% block subheader %}
  {% include 'globals/banner.html' %}
{% endblock %}

{% block content %}

      <div class="feature-section-1">
        <div class="feature-1">
          {% for asset in entry.featureImage %}
            <img src="{{ asset.url('secondaryImage') }}" alt="{{ asset.title }}" / >
          {% endfor %}
        </div>
        <div class="feature-2">
          <h1>{{entry.headline}}</h1>
            {{ entry.body}}
        </div>
      </div>

      {% include 'globals/featureItem.html' %}

<div class="feature-section-background">
  <div class="teaser-block">
    <h1>{{ entry.featuredTitle }}</h1>
    {% for entry in entry.featuredItems %}
      {% for asset in entry.featureImage %}
        <img src="{{ asset.url('featureItems') }}" alt="{{ asset.title }}"/>
      {% endfor %}
      {{ entry.title }}
      {{ entry.teaserText }}
      <button type="button">Learn more</button>
    {% endfor %}
  </div>
</div>


{% endblock %}
