{# This is the Secondary-Mixed Page Layout - includes 1 lead feature item and 3 secondary featured items #}

{% extends '_layout' %}

{% block subheader %}
  {% include 'globals/banner.html' %}
{% endblock %}

{% block content %}

<div class="feature-section-1">
  {{ entry.body }}
  <div class="feature-1">
      {% for asset in entry.secondaryImage %}
        <img src="{{ asset.url('secondaryImage') }}" alt="{{ asset.title }}" / >
      {% endfor %}
  </div>
{#
  <div class="feature-2">
    {{ entry.secondBody }}
    <button type="button" class="feature-button">This is a button </button>
  </div>
#}
</div>


<div class="feature-section-background">
  <h1>{{ entry.featuredTitle }}</h1>
  <div class="feature-section-3">
    <div class="teaser-block">
      {% include 'globals/profile-card.html' %}
    </div>
  </div>
</div>


{% endblock %}
