{# This is the Third-Tier Page Layout - includes 1 lead feature item and 3 secondary featured items #}

{% extends '_layout' %}

{% block subheader %}
  {% include 'globals/banner-small.html' %}
{% endblock %}

{% block content %}
  <div class="third-layout">
    <section class="third__main">
      <h2>{{ entry.subHeadline }}</h2>
      {{ entry.body }}
      {{ entry.mediaDescription }}
      {% include "globals/relatedLinks.html" %}
    </section>

    <section class="third__meta">
      <h6>The Details</h6>
      <ul class="meta-list">
        {% set categories = entry.mediaType %}
        {% if categories | length %}
          <li>Media Type:
            {% for category in categories.all() %}
              {{ category.title }}
            {% endfor %}
          </li>
        {% endif %}

        {% set categories = entry.mediaCategory %}
        {% if categories | length %}
          <li>Category:
            {% for category in categories.all() %}
              {{ category.title }}
            {% endfor %}
          </li>
        {% endif %}

        {% if entry.startDate | length %}
          <li>{{ entry.startDate | date('M j, Y') }}
        {% endif %}

        {% if entry.endDate | length %}
          - {{ entry.endDate | date('M j, Y') }}</date>
        {% endif %}</li>

        {% if entry.startTime | length %}
          <li><time>{{entry.startTime | date('g:i a') }}
        {% endif %}

        {% if entry.endTime | length %}
          - {{entry.endTime | date('g:i a')}}
        {% endif %}</li>

        {% if entry.location | length %}
          <li> {{ entry.eventLocation }} </li>
        {% endif %}

        {% if entry.paymentButton | length %}
          {% set paypal = entry.paymentButton.first() %}
          <li>Price: ${{ paypal.amount|number_format(2, '.', ',') }}</li>
          {# DISPLAY PAYPAL BUTTON #}
          {{ paypal.displayButton() }}

        {% endif %}

      </ul>

        {% if entry.sponsor | length %}
          <h6 id="sponsor-title">The Sponsors</h6>
        {% endif %}
        <div class="sponsor">
          {% for block in entry.sponsor.all() %}
            {% if block.type == "sponsor" %}
              {% set image = block.sponsorLogo.one() %}
                {% if image %}
                  <div class="sponsor-content">
                    <img src="{{ image.getUrl('sponsorImage') }}" alt="{{ image.title }}" class="sponsor-image">
                {% endif %}
                {% if block.sponsorText | length %}
                  <div class="sponsor-text">
                    {{ block.sponsorText }}
                  </div>
                  </div>
              {% endif %}
            {% endif %}
          {% endfor %}
        </div>

    </section>
  </div>

  {% if entry.featureImage.one() | length %}
    <section class="third__images">
      <div class="third__images__media">
        {% set image = entry.featureImage.one() %}
          <img src="{{ image.url }}" alt="{{ image.title }}"/>
      </div>
      <div class="third__images__caption">
        <figcaption>{{ entry.imageCaption }}</figcaption>
      </div>
    </section>
  {% endif %}

  {% if entry.mediaCategory | length %}
    <div class="feature-footer">
      <h2>Related Items</h2>
      <div class="feature-section-3">
        {% set category = entry.mediaCategory %}
        {% for category in categories.all() %}
          {% set related = craft.entries.relatedTo(category) %}
          {% for entry in related.id('not ' ~ entry.id).orderBy('RAND()').limit(2).all() %}
            {% include 'globals/noImageListing.html' %}
          {% endfor %}
        {% endfor %}
      </div>
    </div>
  {% endif %}
{% endblock %}
