{#
 # Layout template
 # ---------------
 # See Twig’s Template Inheritance documentation for more details:
 # http://twig.sensiolabs.org/doc/templates.html#template-inheritance
 #}

<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="en-US">
<head>
	<meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
	<title>{% if entry.title is defined %}{{ entry.title }} - {% endif %}{{ siteName }}</title>
  <meta name="Description" content="Kent, Ohio's historical society can help you research online collections, plan a museum visit and shop for historic media.">
	<link rel="home" href="{{ siteUrl }}" />
  <!-- Render Favicons -->
  	{% include '_includes/_favicons.html' %}
  <!--Begin Critical CSS -->
    <style type="text/css">
  	 {% include '_includes/critical.css' %}
    </style>
    <noscript><link href="{{ siteUrl }}assets/css/style.css" rel="stylesheet"></noscript>
</head>
{# Helper code for the Admin toolbar, only shown when logged in #}
{{ adminbar({ sticky: false }) }}
<body>
		{% include 'globals/header.html' %}

		{% block subheader %}
			{# If a subheader block is included in the template, it will display here.  Empty by default and optional. #}
		{% endblock %}
    <section class="supplemental">
      {% include 'globals/hours.html' %}
      {% include 'globals/breadcrumbs.html' %}
    </section>

		<main role="main">
      {% block subcontent %}
        {# This is where the main body content of the page display.  Required on each template. #}
      {% endblock %}
			{% block content %}
				 {# This is where the main body content of the page display.  Required on each template. #}
			{% endblock %}
		</main>

    {% block subfooter %}

    {% endblock %}

		{% include 'globals/footer.html' %}
  <script defer src="{{ siteUrl }}assets/js/min/critical-min.js"></script>
  <script defer type="text/javascript" src="{{ siteUrl }}assets/js/min/scripts-min.js"></script>
  <script defer src="{{ siteUrl }}assets/js/min/analytics.js"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());
    gtag('config', 'UA-52690730-9');
  </script>
  <script>
    if ('serviceWorker' in navigator) {
      console.log("Will the service worker register?");
      navigator.serviceWorker.register('serviceworker.js')
        .then(function(reg){
          console.log("Yes, it did.");
        }).catch(function(err) {
          console.log("No it didn't. This happened: ", err)
        });
    }
  </script>
  {% if craft.app.config.general.devMode %}
    <!-- Live Reload - For local environment only -->
    <script src="//localhost:35729/livereload.js"></script>
  {% endif %}
</body>
</html>
