{#
 # Layout template
 # ---------------
 # See Twig’s Template Inheritance documentation for more details:
 # http://twig.sensiolabs.org/doc/templates.html#template-inheritance
 #}

<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="en-US">
<head>
	<meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
	<title>{% if title is defined %}{{ title }} - {% endif %}{{ siteName }}</title>
	<link rel="home" href="{{ siteUrl }}" />
  <!-- Render Favicons -->
  	{% include '_includes/_favicons.html' %}
  <!--Begin Critical CSS -->
    <style type="text/css">
  	 {% include '_includes/critical.css' %}
    </style>
</head>
{# Helper code for the Admin toolbar, only shown when logged in #}
{{ adminbar({ sticky: false }) }}
<body>
		{% include 'globals/header.html' %}

		{% block subheader %}
			{# If a subheader block is included in the template, it will display here.  Empty by default and optional. #}
		{% endblock %}

		<main role="main">
			{% block content %}
				 {# This is where the main body content of the page display.  Required on each template. #}
			{% endblock %}
		</main>

		{% include 'globals/footer.html' %}

<link href="https://fonts.googleapis.com/css?family=IBM+Plex+Serif:400,700|Lato:300,400,700" rel="stylesheet">
  <link href="{{ siteUrl }}assets/css/style.css" type="text/css" rel="stylesheet" media="screen"/>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script type="text/javascript" src="{{ siteUrl }}assets/js/min/scripts-min.js"></script>
  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-52690730-9"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());
    gtag('config', 'UA-52690730-9');
  </script>
  {% if craft.config.devMode %}
  <!-- Live Reload - For local environment only -->
  <script src="//localhost:35729/livereload.js"></script>
  {% endif %}
</body>
</html>
