{#
 # Homepage template
 # ---------------
 #
 # When this template gets loaded, it will be because someone has accessed
 # http://yoursite.com/ (without any URI). Craft checks to see if you have
 # a Single section set to be the Homepage (as you do, by default), and
 # loads the section’s Template (this file). A special ‘entry’ variable
 # will already be set for you, assigned to the Homepage entry.
 #
 # It's worth noting that even if you didn't have a Homepage Single section,
 # as long as this template remains at craft/templates/index.html, it
 # would still be the one to get loaded when accessing http://yoursite.com/,
 # albeit without an ‘entry’ variable already set for you.
 #
 # See this page for more details on how Craft routes requests:
 # http://craftcms.com/docs/routing
 #}

{% extends '_layout' %}

{% block subheader %}
<div class="home-banner">
<figure>
  {% for asset in entry.featureImage %}
    <img src="{{ asset.url }}" alt="{{ asset.title }}" / >
  {% endfor %}
</figure>
<h1>{{ entry.headline }}</h1>
</div>
{% endblock %}


{% block content %}
{% include 'globals/hours.html' %}

{{ entry.body }} <!--Where are these coming from -->
<h2>{{ entry.subHeadline }}</h2> <!--Where are these coming from -->

<figure>
    {% for asset in entry.featureImage %}
      <img src="{{ asset.url }}" alt="{{ asset.title }}" / >
    {% endfor %}
</figure>

<div class="teaser-group">
	{% for entry in entry.featuredItems %}
	<a href="{{ entry.url }}">
		<div class="teaser-block">
			<figure class="holder">
				<figcaption class="title">
					<h3>{{ entry.title }}</h3>
					<p>{{ entry.teaserText }}</p>
				</figcaption>
				{% for asset in entry.featureImage %}
					<img src="{{ asset.url }}" alt="{{ asset.title }}"/>
				{% endfor %}
			</figure>
		</div>
	</a>
	{% endfor %}
</div>

<!-- Profile
<div class="home-card">
  <h3>{{ entry.subHeadline }}</h3>
    {% for entry in entry.featuredItems %}
    <figure class="holder">
      <figcaption class="title">
        <h3>{{ entry.title }}</h3>
        <h4>{{ entry.subHeadline }}</h4>
        <h4><a href="mailto:example@email.com">Email Me</a></h4>
        <p>{{ entry.teaserText }}</p>
      </figcaption>
      {% for asset in entry.featureImage %}
        <img src="{{ asset.url }}" alt="{{ asset.title }}"/>
      {% endfor %}
    </figure>
    {% endfor %}
</div>
-->

{% endblock %}
