{#
 # Homepage template
 # ---------------
 #
 # When this template gets loaded, it will be because someone has accessed
 # http://yoursite.com/ (without any URI). Craft checks to see if you have
 # a Single section set to be the Homepage (as you do, by default), and
 # loads the section’s Template (this file). A special ‘entry’ variable
 # will already be set for you, assigned to the Homepage entry.
 #
 # It's worth noting that even if you didn't have a Homepage Single section,
 # as long as this template remains at craft/templates/index.html, it
 # would still be the one to get loaded when accessing http://yoursite.com/,
 # albeit without an ‘entry’ variable already set for you.
 #
 # See this page for more details on how Craft routes requests:
 # http://craftcms.com/docs/routing
 #}

{% extends '_layout' %}

{% block subheader %}
<section class="top-banner">
  {% for asset in entry.featureImage %}
      <picture>
        <source media="(min-width: 600px)" srcset="{{asset.url('featureImage')}}">
        <img src="{{asset.url('featureItems')}}" alt="{{asset.title}}">
      </picture>
  {% endfor %}
  <div class="banner">
    <h1 class="banner-h1">{{ entry.headline }}</h1><!-- check to see if title needs to be outputed -->
    <h2 class="banner-h2">{{ entry.subHeadline }}</h2>
  </div>
</section>
{% endblock %}


{% block content %}

<div class="introduction">
  {{ entry.body }}
</div>

<div class="feature-section-background">
  {% for asset in entry.secondaryImage %}
    <img src="{{ asset.url('secondaryImage') }}" alt="{{ asset.title }}" / >
  {% endfor %}
</div>

<div class="home-card">
  <h3>{{ entry.subHeadline }}</h3>
  {% include 'globals/profile-card.html' %}
</div>

{% endblock %}
