{% extends '_layout' %}

{% block subheader %}
  <h1>{{ entry.headline}}</h1>
{% endblock %}

{% block content %}
<button>Filter</button>
<div class="shop-items">
  {% for entry in craft.entries.section('historicalMedia').limit(1) %}
	 {% if entry.forSale%}
		 {{entry.title}}
		   {% for asset in entry.featureImage %}
			    <img src="{{ asset.url }}" alt="{{ asset.title }}"/>
			 {% endfor %}
			{{entry.mediaDescription}}
			{{entry.price}}
			{{entry.paypalProductCode|raw}}
	{% endif %}
{% endfor %}
<br><br>
{% set nF = 0 %}
{% for entry in craft.entries.section('historicalMedia')%}
	{% if entry.forSale%}
		{% if nF == 1 %}
    <div class="item">
			{{entry.title}}
			{% for asset in entry.featureImage %}
				<img src="{{ asset.url }}" alt="{{ asset.title }}"/>
				{% endfor %}
				{{entry.mediaDescription}}
				{{entry.price}}
				{{entry.paypalProductCode|raw}}
				<br>
      </div>
			{% endif %}
	{% endif %}
	{% set nF = 1 %}
	{% endfor %}
  <div>
{% endblock %}
