{% extends 'layouts/secondary' %}

{% block content %}

{# Category names in Media Type category (mediaType) go here dynmically #}

{% cache %}
<section class="tabs">
  <input type="radio" name="tabs" id="all" checked="checked">
  <label for="all">All</label>
  <div class="tab">
    {% set items =  craft.entries.section('historicalMedia').order('title') %}
    <ul class="shop-items">
      {% for entry in items if entry.forSale %}
        {% include 'globals/shop-item.twig' %}
      {% endfor %}
    </ul>
  </div>
  {% for category in craft.categories.group('mediaType').all() %}
    {% set items =  craft.entries.section('historicalMedia').relatedTo(category) %}
    {% if items | length %}
      <input type="radio" name="tabs" id="{{category.slug}}">
      <label for="{{category.slug}}">{{ category.title }}</label>
      <div class="tab">
        <ul class="shop-items">
          {% for entry in items.order('title') if entry.forSale %}
            {% include 'globals/shop-item.twig' %}
          {% endfor %}
        </ul>
      </div>
    {% endif %}
  {% endfor %}
</section>
{% endcache %}

{% endblock %}
